<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="">
	  <meta name="author" content="">

    <title>Sparkgeo - Spatial Temporal Asset Catalog (STAC) validator</title>

    <!-- Favicons -->
  	<link rel="shortcut icon" href="/static/images/favicon.png">
  	<link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">

  	<!-- Web Fonts -->
  	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700' rel='stylesheet'>
  	<link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

  	<!-- Bootstrap core CSS -->
  	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  	<!-- Icon Fonts -->
  	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
  	<link href="/static/css/simple-line-icons.css" rel="stylesheet">

  	<!-- Plugins -->
  	<link href="/static/css/magnific-popup.css" rel="stylesheet">
  	<link href="/static/css/owl.carousel.css" rel="stylesheet">
  	<link href="/static/css/flexslider.css" rel="stylesheet">
  	<link href="/static/css/animate.min.css" rel="stylesheet">

  	<!-- Template core CSS -->
  	<link href="/static/css/vertical.min.css" rel="stylesheet">
  	<link href="/static/css/template-blue.css" rel="stylesheet">

  </head>
  <body>

    <!-- PRELOADER -->
  	<div class="page-loader">
  		<div class="loader">Loading...</div>
  	</div>
  	<!-- END PRELOADER -->

    <!-- HEADER -->
    	<header class="header header-fixed header-transparent">
    		<div class="container">
    			<!-- YOUR LOGO HERE -->
    			<div class="inner-header">
    				<a class="inner-brand" href="/html">
    					<img class="brand-light" src="/static/images/sparkgeo-logo-black.png" width="170" alt="">
    					<img class="brand-dark" src="/static/images/sparkgeo-logo-black.png" width="170" alt="">
    				</a>
    			</div>

    			<!-- OPEN MOBILE MENU -->
    			<div class="main-nav-toggle">
    				<div class="nav-icon-toggle" data-toggle="collapse" data-target="#custom-collapse">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</div>
    			</div>

    		</div>
    	</header>
    	<!-- END HEADER -->

      <!-- WRAPPER -->
    	<div class="wrapper">

    		<!-- PAGE TITLE -->
    		<!--
        <section class="module-sm bg-white-dark">
    			<div class="container">

    				<div class="row">
    					<div class="col-sm-12 text-center">

    						<h3 class="montserrat text-uppercase m-b-10">Cloud Optimized GeoTIFF Validator</h3>
    						<ol class="breadcrumb text-xs">
    							<li>&nbsp;</li>
    						</ol>

    					</div>
    				</div>

    			</div>
    		</section>
        -->
    		<!-- END PAGE TITLE -->

        <!-- FORM POST -->
  		<section class="module">
  			<div class="container">
          <div class="row">

  					<!-- FORM CONTENT -->
  					<div class="col-sm-12 blog-content">

            <!-- this is the start of script -->
              <h1>Spatial Temporal Asset Catalog (STAC) validator</h1>

              <p>This service enables you to check the catalog and item json files follow the
              specification of
              <a href="https://github.com/radiantearth/stac-spec">
              STAC</a>
              </p>

              <p>Files should generally be specified by URLs since it will enable the service
              to check that the hosting server catalog is traversable.</p>

              <form id="fileuploadform" action="{{ root_url }}/html/validate" method="get">
				  STAC URL: <input id="url" type="string" name="url" style="width:800px;"/>
				  <select id="version" name="version">
					  <option id=""latest name="latest" value="latest">latest</option>
				  </select>
              </form>

              <button type="submit" class="btn btn-circle btn-info" onClick="submitForm()">Submit</button>

              <script type="text/javascript">

                function submitForm(){
                    if( document.getElementById("url").value == '' )
                    {
                        alert('No URL specified');
                        return;
                    }
                    if( document.getElementById("url").value != '' )
                    {
                        document.getElementById("fileuploadform").submit();
                        return;
                    }
                }
               </script>

               <br /><br />
               <p>You can also use the API at {{ root_url }}/api/validate that will return the validation result as a JSON document</p>
               <p>The code to run this service was built by STAC Sprinters,
+               and original code available in this <a href="https://github.com/sparkgeo/stac-validator">github repo</a> and the service is running this <a href="https://github.com/sparkgeo/stac-validator">github repo</a>.
                The web service and hosting is provided by Sparkgeo</p>
            </div>
        </div>
      </div>
    </section>
    <!-- END FORM POST -->


<!-- FOOTER -->
		<footer id="footer" class="footer-minimal">
			<div class="container">
				
			</div>
		</footer>
		<!-- END FOOTER -->

	</div>
	<!-- END WRAPPER -->

	<!-- JAVASCRIPT FILES -->

	<script src="/static/js/jquery-2.2.3.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/plugins.min.js"></script>
	<script src="/static/js/custom.js"></script>
  
  </body>

</html>
